.carousel img {
    width: 100%;
    max-width: 880px;
    max-height: 300px;
    object-fit:cover;
    border-radius:10px;
}

.carouselContainer {
    display:flex;
    align-items:center;
    justify-content:center;
}

.carousel button {
    display:none;
}