.main {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    gap: 1em;
}

.dataLink { 
    text-align: center;
}

.dataLink >a {
    color: var(--berry);
    border-bottom: 1px solid var(--berry);
}

.dataLink >a:hover{
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
}

.barChart canvas {
    width: 100%;
}

.main h2 {
    display:flex;
    align-items:center;
}

.chartContainer {
    display:flex;
    flex-direction:column;
    height:400px;
    width:1000px;
    padding-right:10%;
    align-items:center;
    justify-content:center;
}

.main p {
    display:flex;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
    .chartContainer {
        max-width: 666px;
        max-height:320px;
    }
    .main h2 {
        padding-right:5%;
    }
  }

 
/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
    .chartContainer {
        max-width: 320px;
        max-height: 150px;
    }
    .dataLink {
        font-size: var(--medium-font);
    }
    .main p {
        font-size: 10px;
    }
    .main h2 {
        font-size: var(--medium-font);
    }
}