.cardContainer {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


 /* Styles for iPad Air */
@media (max-width: 900px) {
    .cardContainer {
        gap: 2rem;
    }
}

 /* Mobile Size (iPhone XR) */
 @media (max-width: 600px) {
    .cardContainer {
        gap: 1rem;
        
    }
  }