/* .container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 1184px;
  position: sticky;
  top: 0;
} */

.main {
  flex: 1;
  height: 1380px;
  position: sticky;
  top: 0;
}

.searchContainer {
  width: 100%;
  max-width: 1250px;
  padding: 0 10% 0 15%;
}

.searchBar {
  width: 100%;
  padding: 10px;
  background-color: var(--lightGray);
  border-radius: 10px;
}

.learnMore {
  background-color: var(--berry);
  color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.button {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learnMore:hover {
  background-color: var(--berryHover);
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .searchBar {
    max-width: 618px;
  }
}

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
  .searchContainer {
    padding: 0 5% 0 10%;
  }
  .searchBar {
    max-width: 336px;
  }
}