.main {
    display:flex;
    flex-direction:column;
    height:100%;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;

}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) { }

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
    
}