@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --battleshipGray: #878684 ;
  --darkGray: #66635F;
  --lightGray: #EFEFEF;
  --gray: #ACACAC;
  --black: #1C1C1C;
  --white: #F5F5F5;
  --berry: #990F4B;
  --berryHover: #B62263;
  --blue: #1C6E8C;

  --large-font: 1.875em; /* 30px */
   --medium-font: 0.875em; /* 14px */
}

h1{
font-size: 1.5em;
font-weight: 700;
}

h2{
  font-size: 1.25em;
  font-weight: 700;
  }


body {
    min-height: 100vh;
    width: 100%;
}

body > div:first-of-type{
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

main {
height: 100%;
width: 100%;
}

#mainContainer,
#headerNav{
  width: 100%;
  max-width: 1250px;
  padding-left: 15%;
  padding-right: 10%;
}

#headerNav{
  padding-top: 5%;
  padding-bottom: 3%;
}

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) { 
  #mainContainer {
    max-width: 380px;
    padding: 5% 5% 45% 5%;
  }
  #headerNav {
    max-width: 380px;
    padding-left: 10%;
    padding-right: 5%;
  }
}

