.main {
    flex: 1;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.carouselContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.carousel {
    width: 100%;
}

.sectionTitle {
    margin-top: 20px;
    margin-bottom: 10px;
}



/* Styles for desktop */
@media (min-width: 1280px) {
    .carouselContainer {
        justify-content: center;
        width: 100%;
    }


    .carousel {
        max-width: 100%;
    }
}

/* Styles for iPad Air */
@media (max-width: 1024px) {
    .carouselContainer {
        flex-wrap: wrap;
    }

    .carousel {
        width: 100;
    }
}

/* Styles for iPhone XR */
@media (max-width: 414px) {
    .carouselContainer {
        flex-direction: column;
    }

    .carousel {
        width: 100%;
    }
}