.main {
    flex: 1;
  }
  
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  
  .carouselContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .carousel {
    width: 100%;
  }
  
  .sectionTitle {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  