.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notAccountText {
  text-align: center;
  font-size: 14px;
  margin-top: 1.5em;
}

.signUpLink {
  display: flex;
  justify-content: center;
  color: var(--blue); 
  font-size: var(--medium-font);
}

.signUpLink:hover{
  cursor: pointer;
}