
.container {
  width: 100%;
}

.artTitle {
  text-align: center;
  font-size: 20px;
}

.carouselButtonLeft, .carouselButtonRight {
  font-size: 30px;
  background-color: var(--berry);
  position: absolute;
  top: -5px;
  color: var(--lightGray);
  padding: 3px 5px;
  border-radius: 6px;
}

.carouselButtonLeft {
  left: 10px;
}

.carouselButtonRight {
  right: 10px;
}

.carouselImages {
  width: 90%;
  height: 530px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #b1b1b1;
  margin: 30px;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .carouselImages {
    height: 415px;
  }
}

/* Mobile Size (iPhone XR) */
@media only screen and (max-width: 600px) {
  .carouselImages {
    width: 300px;
    height: 180px;
  }
}