.main {
  flex: 1;
  height: 1380px;
  position: sticky;
  top: 0;
}

.artTitle {
  text-align: center;
  font-size: 20px;
}

.carouselImages {
  width: 90%;
  height: 530px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #b1b1b1;
  margin: 30px;
  object-fit: cover;
}

.carouselButtonLeft, .carouselButtonRight {
  font-size: 30px;
  background-color: var(--berry);
  position: absolute;
  top: -5px;
  color: var(--lightGray);
  padding: 3px 5px;
  border-radius: 6px;
}

.carouselButtonLeft {
  left: 10px;
}

.carouselButtonRight {
  right: 10px;
}

.playListContainer {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .carouselImages {
    height: 415px;
  }
}

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
  .artTitle {
    width: 290px;
    font-size: 12px;
  }
  .carouselImages {
    width: 300px;
    height: 165px;
    margin: 15px;
  }
  .carouselButtonLeft, .carouselButtonRight {
    font-size: 13px;
    top: 2px;
  }
  .carouselButtonLeft {
    left: -10px;
  }
  .carouselButtonRight {
    right: -10px;
  }
  .playListContainer {
    padding-bottom: 0;
  }
}