.playerContainer button.ButtonRSWP.rswp__toggle._ControlsButtonRSWP{
    color: var(--berry);
  }
  
  .playerContainer .ButtonRSWP.rswp__toggle._ControlsButtonRSWP > svg{
    background-color: var(--white);
    border-radius: 100%;
  }

  .neighbourhood span {
    font-weight: bold;
  }

  .year span {
    font-weight: bold;
  }
  
  .status span {
    font-weight: bold;
  }