.playerContainer button.ButtonRSWP.rswp__toggle._ControlsButtonRSWP{
    color: var(--berry);
  }
  
  .playerContainer .ButtonRSWP.rswp__toggle._ControlsButtonRSWP > svg{
    background-color: var(--white);
    border-radius: 100%;
  }