.mainContainer {
  display: flex;
  width: 100%;
  max-width: 1250px;
  padding-left: 7%;
}

.container {
  height: 900px;
  position: sticky;
  top: 0;
}

.carouselContainer {
  width: 100%;
  max-width: 1000px;
}

.slideContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 26px;
}   

.slider-container {
  max-width: 1250px;
  width: 100%;
}

.carouselImages {
  height: 560px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #b1b1b1;
  margin-left: 40px;
  object-fit: cover;
}

.carouselButtonLeft, .carouselButtonRight {
  font-size: 30px;
  background-color: var(--berry);
  position: absolute;
  color: var(--lightGray);
  padding: 3px 5px;
  border-radius: 6px;
}

.slideContainer p {
  margin: 5px 0;
  font-size: var(--medium-font);;
}

.neighbourhood span {
  font-weight: bold;
}

.year span {
  font-weight: bold;
}
  
.status span {
  font-weight: bold;
}

/* Tablet Size (iPad Air) */
@media only screen and (max-width: 900px) {
  .mainContainer {
    padding-left: 12%;
  }
  .carouselContainer {
    max-width: 614px;
  }
  .carouselImages {
    width: 85%;
    height: 820px;
  }
}

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
  .mainContainer {
    max-width: 355px;
    margin-left: 16px;
    padding: 5% 5% 45% 5%;
  }
  .title {
    font-size: 9px;
  }
  .slideContainer {
    gap: 12px;
  }
  .carouselContainer {
    max-width: 310px;
  }
  .carouselImages {
    width: 90%;
    height: 475px;
    margin-left: 0;
  }
  .carouselButtonLeft, .carouselButtonRight {
    font-size: 18px;
  }
  .carouselButtonLeft {
    left: -25px;
  }
}


