.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.haveAccountText {
  text-align: center;
  font-size: 14px;
  margin-top: 1.5em;
}

.signInLink {
  display: flex;
  justify-content: center;
  color: var(--blue); 
  font-size: var(--medium-font);
}