.selectedTab {
    font-weight: 800;
}

.tab:hover{
    cursor: pointer;
}

.tabList {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4%;
    margin: 10px 0;
}

.tabPanel {
    display: flex;
    flex-direction:row;
}

/* Mobile Size (iPhone 12 Pro) */
@media only screen and (max-width: 600px) {
    .slider-frame {
        width: 93%;
    }
}

