.squareContainer,
.playlistContainer {
    border-radius: 1em;
    border: 0.15em solid var(--berry);
    padding: 0.5em 1em;
}

.playlistContainer{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 800px) {
    .squareContainer,
    .playlistContainer {
        max-width: 50%;
        transition-duration: 0.25s;
    }

    .squareContainer:hover,
    .playlistContainer:hover {
        background-color: var(--berry);
        color: var(--white);
    }



}

@media only screen and (min-width: 1080px) {

}