.carouselImage {
    object-fit: cover;
    filter: blur(1px);
    border-radius: 0.375rem;
    z-index: 0;
    width: 260px;
    height: 260px;
    opacity: 0.4;
}

.carouselImage:hover {
    opacity: 1; 
    filter: none;
}

/* Styles for iPad Air */
 @media (max-width: 900px) {
    .carouselImage {
        width: 200px;
        height: 200px;
    }
 }

 /* Mobile Size (iPhone XR) */
@media (max-width: 600px) {
    .carouselImage {
        width: 120px;
        height: 120px;
    }
  }