.mainContainer {
    max-height: 800px;
    padding-top:8%;
}

.chartContainer {
    max-height: 800px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-left:10%;
}

.mainContainer h2 {
    padding-left:10%;
}

.mainContainer p {
    display:flex;
    padding-left:10%;
    text-align:left;
    padding-top:4%;
    padding-bottom: 2%;
}